body{
    background-image: url("images/back.jpg");
    max-width:100% ;
    height: auto;
    box-sizing: border-box;
    overflow-y: scroll;
    margin: 0;
}
.container{
    float: left;
    width: 100%;
    margin: 0;
}

.navbari li{
    float: left;
}

.navbari{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    border-bottom: 1px solid gray;
}

.navbari a{
    text-decoration: none;
    color: rgb(255, 75, 4);
    font-size: larger;
    display: block;
    text-align: center; 
    padding: 14px 16px;
    margin-bottom: -10px;
}
.logo{
    width: 30px;
    height: 30px;
}
.logoimg{
    margin-left: 32px;
}

.log{
    padding-left: 1200px;
}


a:hover{
    background-color: rgb(252, 126, 9);
    color: rgb(241, 229, 172);
}

.main {
    margin-top: 120px;
    background-color: blanchedalmond;
    min-height: 80vh;
}

.comments {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.comment {
    margin-top: 20px;
    margin-bottom: 20px;
}

.com{
    cursor: pointer;
    font-size: 20px;
    border: 0 none ;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
    color:rgb(252, 126, 9);
    width: 1000px;
}
.com:hover{
    background-color:rgb(197, 206, 78) ;
    color:grey;
}

.sub {
    font-size: 20px;
}

.sub-button {
    display: flex;
    justify-content: end;
}

/*以下複製*/
.footer{
    float: left;
    background-color: blanchedalmond;
    width: 100%;
    margin-top: 20px;
}

.aboutus{
    float: left;
    padding: 10px 0 10px 550px;
    list-style-type: none;
}

.callme{
    float: right;
    padding: 10px 550px 10px 0px;
    list-style-type: none;
    
}

.aboutus li{
    padding: 10px 0 10px 0;
    margin-top: -10px;
}

.callme li{
    padding: 10px 0 10px 0;
    margin-top: -10px;
}

.callme i{
    display: inline;
}
.footer li:hover{
    cursor: pointer;
}
.fab:hover{
    color:rgb(54, 140, 238);
}

.ig:hover{
    color:palevioletred;
}

.you:hover{
    color:red;
}
.aboutus li a{
    text-decoration: none;
    color: black;
}
#find{
    text-decoration: none;
    background-color: rgb(241, 229, 172);
    color: rgb(252, 126, 9);
    border-radius: 6px;
}

