body{
    background-image: url("images/back.jpg");
    max-width:100% ;
    height: auto;
    box-sizing: border-box;
    overflow-y: scroll;
    margin: 0;
}
.container{
    float: left;
    width: 100%;
    margin: 0;
}

.navbari li{
    float: left;
}

.navbari{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    border-bottom: 1px solid gray;
}

.navbari a{
    text-decoration: none;
    color: rgb(255, 75, 4);
    font-size: larger;
    display: block;
    text-align: center; 
    padding: 14px 16px;
    margin-bottom: -10px;
}
.logo{
    width: 30px;
    height: 30px;
}
.logoimg{
    margin-left: 32px;
}

.log{
    padding-left: 1200px;
}

div{
    display: block;
}

a:hover{
    background-color: rgb(252, 126, 9);
    color: rgb(241, 229, 172);
}

/**/
.pa{
    background-color: rgb(252, 126, 9);
    text-align: center;
    margin-top: 250px;
}
center{
    padding-top: 20px;
    padding-bottom: 20px;
}

.pa form input{
    cursor: pointer;
    font-size: 20px;
    background-color: blanchedalmond;
    border: 0 none ;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
    color:rgb(252, 126, 9);
    margin-bottom: 20px;
}

.pa form input:hover{
    background-color:rgb(252, 126, 9) ;
    border: 1px solid  blanchedalmond;
    color:blanchedalmond;
}

#opa:hover{
    background-color: rgb(197, 206, 78);
}

#newpa:hover{
    background-color: rgb(197, 206, 78);
}

#newpaa:hover{
    background-color: rgb(197, 206, 78);
}

#mail:hover{
    background-color: rgb(197, 206, 78);
}

#phone:hover{
    background-color: rgb(197, 206, 78);
}
